html > body {
  background-color: $grayLight;

  &, ul, ol, .mdl-textfield__input {
    font-size: 16px;
  }

  &, input, textarea, button, select, div, span, * {
    font-family: 'Roboto','Helvetica','Arial',sans-serif !important;
  }

  /* grid breakpoints & media */
  .container .mdl-grid {
    @include center-block;
    box-sizing: border-box;
    //background: ;

    @media (min-width: 1200px) {
      width: 1200px;
    }

    @media (min-width: 990px) and (max-width: 1199px) {
      width: 970px;
    }

    @media (min-width: 768px) and (max-width: 989px) {
      width: 750px;
    }

    @media (max-width: 767px) {
      width: 100%;
      padding: 15px;
    }

    @media (min-width: 768px) {
      padding: 30px 15px;
    }
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}