.flex {
  display: flex;
  justify-content: space-around;
}

.wrap {
  flex-wrap: wrap;
}

.has-error {
  color: red;
}

select {
  display: block !important;
  margin-bottom: 10px;
  height: 30px;
  color: black;
}
